<?xml version="1.0" ?>
<model>
    <name>Turn Right Sign</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Rebeca Velasco</name>
        <email>almarebeca.velascoolmos@manchester.ac.uk</email>
    </author>
    <description>Turn Right Sign</description>
</model>
