<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  </node>
  <node name="joint_state_publisher"  pkg="joint_state_publisher" type="joint_state_publisher"> 
  </node>

  <!--Urdf Files -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find puzzlebot_rviz)/src/urdf/puzzlebot.xacro'" />

  <!-- Nodes-->
  <node name="puzzlebotkinematic_model" type="puzzlebotkinematic_model.py" pkg="puzzlebot_sim" />
  
  <!--Publish to cmd_vel-->
  <node pkg="rostopic" type="rostopic" name="cmd_vel" args="pub /cmd_vel geometry_msgs/Twist '{linear: {x: 0.1, y: 0.0, z: 0.0}, angular: {x: 0.0,y: 0.0,z: 0.1}}'" output="screen"/>

  <!-- Gazebo-->
  <!--Empty World-->
  <!--node name="gazebo_ros" pkg="gazebo_ros" type="gazebo" args="$(find gazebo_ros)/launch/empty_world.launch" respawn="false" output="screen"/--> 
  <!--Spawn robot-->
  <!--
  <arg name="x" default="-0.8"/>
  <arg name="y" default="-0.8"/>
  <arg name="z" default="0.0"/>
  <node name="puzzlebot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model puzzlebot -x $(arg x) -y $(arg y) -z $(arg z)" />

  -->
  <node name="puzzlebot_controller" pkg="puzzlebot_control" type="puzzlebot_control_node"/>
  <include file="$(find puzzlebot_rviz)/src/launch/puzzlebot_control.launch"/>
  <!--Rviz File -->
  <node name = "rviz" pkg="rviz" type = "rviz" args = "-d $(find puzzlebot_rviz)/src/rviz/puzzlebot.rviz" required = "true"/>

</launch>